[submodule "seastar"]
    path = seastar
    url = https://bgithub.xyz/scylladb/seastar.git
    ignore = dirty
[submodule "3rdparty/taskflow"]
	path = 3rdparty/taskflow
	url = https://bgithub.xyz/taskflow/taskflow.git
[submodule "3rdparty/redpanda"]
	path = 3rdparty/redpanda
	url = https://bgithub.xyz/redpanda-data/redpanda.git
[submodule "3rdparty/scylladb"]
	path = 3rdparty/scylladb
	url = https://bgithub.xyz/scylladb/scylladb.git
